<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
  

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
  </div>
  <div class="card mb-3" style="width: 18rem;">
    <img src="/img/about_me.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Eric Du</h5>
      <p class="card-text">I'm a health informatics student dedicated to using my skills in C#, JavaScript, REST APIs, and FHIR to bridge the gap between technology and healthcare, with a focus on enhancing healthcare delivery and patient outcomes.</p>
      <a href="/public/Eric Du - Resume.pdf" target="_blank">Download Resume</a>
    </div>
</main>
  
  
<!--script section-->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
  